name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v7
        with:
          stale-pr-message: 'This PR has been untouched for too long without an update. It will be closed in 7 days.'
          exempt-issue-labels: 'keep'